<h1><img src="../assets/images/logo-titulo.png"></h1>
<div class="container" *ngIf="pokemonDetail == undefined && finalPokemonList != []">
    <div class="navbar">
        <app-navbar (generationEmitter)="getFilter($event)" (searchEmitter)="searchPokemon($event)"></app-navbar>
    </div>
    <div class="listpokemon">
        <div class="pokemon">
            <app-pokemon *ngFor="let pokemon of finalPokemonList" 
            [pokemon]="pokemon" 
            (pokemonEmit)="getPokemon($event)"
            (pokeNameEmit)="getPokeName($event)">
        </app-pokemon>
        </div>
    </div>
</div>
<div class="container" *ngIf="pokemonDetail != undefined">
    <app-pokemondetail [pokemonDetail]="pokemonDetail" [pokeName]="pokeName" (pokemonEmitter)="back($event)"></app-pokemondetail>
</div>